<div class="row mb-3">
  <div class="col">
  <form>
    <div class="row g-2 justify-content-center">
      <div class="col-auto">
        <label for="start" class="col-form-label">From date:</label>
      </div>
      <div class="col-auto">
        <input type="date" class="form-control" id="start">
      </div>
      <div class="col-auto">
        <label for="end" class="col-form-label">to date:</label>
      </div>
      <div class="col-auto">
        <input type="date" class="form-control" id="end">
      </div>
      <div class="col-auto">
          <button type="button" class="btn btn-outline-primary"><i class="fa fa-refresh" aria-hidden="true" onclick="filterGrid()"></i></button>
      </div>
    </div>
  </form>
  </div>
</div>